{% extends 'base.html' %}

{% block content %}

<div class="dashboard">

    <div class="sidebar">

        <h2>HomieFix</h2>

        <ul>

            <li>Dashboard</li>

            <li>
                <a href="/services">
                    Services
                </a>
            </li>

            <li>Bookings</li>

            <li>Payments</li>

        </ul>

    </div>

    <div class="main-content">

        <div class="hero-card">

            <h1>Welcome to HomieFix</h1>

            <p>
                AI Powered Domestic Service Platform
            </p>

        </div>

        <div class="stats-grid">

            <div class="stat-card">

                <h2>12</h2>

                <p>Total Bookings</p>

            </div>

            <div class="stat-card">

                <h2>8</h2>

                <p>Completed Services</p>

            </div>

            <div class="stat-card">

                <h2>4</h2>

                <p>Pending Services</p>

            </div>

        </div>

    </div>

</div>

{% endblock %}