{% extends 'base.html' %}

{% block content %}

<div class="dashboard">

    <div class="sidebar">

        <h2>HomieFix</h2>

        <ul>

            <li>
                <a href="/dashboard">
                    Dashboard
                </a>
            </li>

            <li>
                <a href="/services">
                    Services
                </a>
            </li>

            <li>
                <a href="/my-bookings">
                    My Bookings
                </a>
            </li>

            <li>
                <a href="/payments">
                    Payments
                </a>
            </li>

            <li>
                <a href="/logout">
                    Logout
                </a>
            </li>

        </ul>

    </div>

    <div class="main-content">

        <div class="hero-card">

            <h1>Welcome to HomieFix</h1>
            <div style="margin-top:30px;">

    <button>
        Explore Services
    </button>

</div>

            <p>
    Smart AI-Powered Home Services at Your Doorstep
</p>

<h3 style="margin-top:20px; opacity:0.7;">

    Fast • Trusted • Verified Professionals • Real-Time Support

</h3>

        </div>

        <div class="stats-grid">

            <div class="stat-card">

                <h2>{{ total_bookings }}</h2>

                <p>Total Bookings</p>

            </div>

            <div class="stat-card">

                <h2>{{ completed }}</h2>

                <p>Completed Services</p>

            </div>

            <div class="stat-card">

                <h2>{{ pending }}</h2>

                <p>Pending Services</p>

            </div>

        </div>

    </div>

</div>

{% endblock %}