{% extends 'base.html' %}

{% block content %}

<div class="main-content">

    <h1>My Orders</h1>

    <div class="booking-grid">

        {% for booking in bookings %}

        <div class="glass-card booking-box">

            <h2>{{ booking.service_id }}</h2>

            <p>Date: {{ booking.booking_date }}</p>

            <p>Time: {{ booking.booking_time }}</p>

            <p>Status: {{ booking.status }}</p>

            <a href="/cancel-booking/{{ booking.id }}">
                <button class="cancel-btn">
                    Cancel
                </button>
            </a>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}